In [5]:
#搜尋值
import pandas as pd
dataFrame1=pd.read_csv('學生成績.csv')
dataFrame1.index=dataFrame1['姓名']
dataFrame2=dataFrame1.drop(columns='姓名')
dataFrame2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 50 entries, 姜琬婷 to 林柏洋
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   國文      50 non-null     int64
 1   英文      50 non-null     int64
 2   數學      50 non-null     int64
 3   地理      50 non-null     int64
 4   歷史      50 non-null     int64
dtypes: int64(5)
memory usage: 2.3+ KB

In [4]:
#國文成績不及格,subscript
dataFrame2[dataFrame2['國文']<60]

     國文  英文  數學  地理  歷史
姓名
姜琬婷  50  89  79  96  53
昌嘉洋  52  95  90  86  68
楊少亮  50  97  66  71  65
魏秋萍  50  56  80  59  51
金宜芳  53  85  91  60  81
張彥博  54  64  95  77  97
蕭怡伶  53  65  94  97  64
陳志偉  54  81  99  56  63
張凡成  57  75  95  83  93
蔡至剛  50  67  98  97  54
張軒宸  58  86  71  65  85
楊綺芬  59  55  64  78  99

In [6]:
#國文成績不及格,使用query
dataFrame2.query('國文<60')

     國文  英文  數學  地理  歷史
姓名
姜琬婷  50  89  79  96  53
昌嘉洋  52  95  90  86  68
楊少亮  50  97  66  71  65
魏秋萍  50  56  80  59  51
金宜芳  53  85  91  60  81
張彥博  54  64  95  77  97
蕭怡伶  53  65  94  97  64
陳志偉  54  81  99  56  63
張凡成  57  75  95  83  93
蔡至剛  50  67  98  97  54
張軒宸  58  86  71  65  85
楊綺芬  59  55  64  78  99

In [12]:
#國文成績或者英文不及格(其一不及格),subscript
dataFrame2[(dataFrame2['國文']<60)| (dataFrame2['英文']<60)]

      國文  英文  數學  地理  歷史
姓名
姜琬婷   50  89  79  96  53
王志謙   65  55  75  94  86
鄧淑娟   82  58  86  53  50
黃志福   95  58  63  80  72
昌嘉洋   52  95  90  86  68
蔡偉成   84  53  83  81  62
楊少亮   50  97  66  71  65
魏秋萍   50  56  80  59  51
趙家豪   79  53  74  67  80
金宜芳   53  85  91  60  81
張彥博   54  64  95  77  97
蕭怡伶   53  65  94  97  64
陳志偉   54  81  99  56  63
王泓泰   75  52  56  93  73
張凡成   57  75  95  83  93
蔡至剛   50  67  98  97  54
張軒宸   58  86  71  65  85
楊綺芬   59  55  64  78  99
蕭怡伶  100  54  56  98  87
林柏洋   71  51  83  74  92

In [13]:
#國文成績和英文不及格(同時不及格),subscript
dataFrame2[(dataFrame2['國文']<60)& (dataFrame2['英文']<60)]

     國文  英文  數學  地理  歷史
姓名
魏秋萍  50  56  80  59  51
楊綺芬  59  55  64  78  99

In [14]:
#國文成績或者英文不及格(其一不及格),query()
dataFrame2.query('國文<60 or 英文<60')

      國文  英文  數學  地理  歷史
姓名
姜琬婷   50  89  79  96  53
王志謙   65  55  75  94  86
鄧淑娟   82  58  86  53  50
黃志福   95  58  63  80  72
昌嘉洋   52  95  90  86  68
蔡偉成   84  53  83  81  62
楊少亮   50  97  66  71  65
魏秋萍   50  56  80  59  51
趙家豪   79  53  74  67  80
金宜芳   53  85  91  60  81
張彥博   54  64  95  77  97
蕭怡伶   53  65  94  97  64
陳志偉   54  81  99  56  63
王泓泰   75  52  56  93  73
張凡成   57  75  95  83  93
蔡至剛   50  67  98  97  54
張軒宸   58  86  71  65  85
楊綺芬   59  55  64  78  99
蕭怡伶  100  54  56  98  87
林柏洋   71  51  83  74  92

In [15]:
#國文成績和英文不及格(同時不及格),query()
dataFrame2.query('國文<60 and 英文<60')

     國文  英文  數學  地理  歷史
姓名
魏秋萍  50  56  80  59  51
楊綺芬  59  55  64  78  99